<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sogifty"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sogifti_logo"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity android:name="com.sogifty.activities.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sogifty.activities.FriendListActivity" />
        <activity android:name="com.sogifty.activities.FriendDetailModificationActivity" />
        <activity android:name="com.sogifty.activities.FriendDetailsActivity" />
        <activity android:name="com.sogifty.activities.ConnectionActivity" />
        <activity android:name="com.sogifty.activities.SubscriptionActivity" />
        <activity android:name="com.sogifty.activities.AddFriendActivity" />
		 <activity android:name="com.sogifty.activities.ChooseAvatarActivity" />
        <activity android:name="com.sogifty.activities.ConfigActivity" />
        
        <receiver android:name="com.sogifty.widget.WidgetProvider" >
            <intent-filter>

                <!-- This widget provider receives broadcast with following action name or simply onUpdate of AppWidgetProvider is called -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- linking up xml file of appwidget-provider to AppWidgetProvider -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <service
            android:name="com.sogifty.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="com.sogifty.activities.StartNotificationServiceFromBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.sogifty.services.NotificationService" />
    </application>

</manifest>